a:link {
    color: red;
  }
  
a:visited {
    color: purple;
  }
  
li:hover {
    color: brown;
  }
  
  
li:active {
    color: blue;
  }

li:nth-child(4) {
    background: greenyellow;
  }
li:last-child{
    border-bottom: solid blue;
}
li::before{
    content: "Seleccione 1 elemento - ";
}
input:in-range {
    border: 1px solid black;}
li::after{
    content: " - Seleccione rango";
}
p::first-letter {
    font-size: 400%;
  }

